.header {
    grid-area: header;
    background-color: #333336
  }
  .header img {
    height: 40px;
  }
  .header-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
  }