.messenger {
    display: grid;
    grid-template-columns: 3fr 9fr;
    height: 80vh;
}
.chats {
    height: 100%;
    overflow-y: auto;
    visibility: hidden;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    visibility: hidden;
}

.messagesScroll,
.chatsScroll {
  height: 100%;
  visibility: visible;
}
.messages:hover,
.chats:hover,
.messages:focus,
.chats:focus {
  visibility: visible;
}
.addMessage {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.addMessageButton {
  background-color: transparent;
  border: none;
  outline: none;
  height: 30px;
}
.addMessageButton :hover {
  cursor: pointer;
}
.addMessageButton img {
  height: 100%;
}
.addMessageTextarea {
  width: 100%;
  border-radius: 5px;
  resize: none;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  border: #777 solid 1px;
  background-color: #333336;
  color: #fff;
}
