.scrollWrapper {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: 100%;
}
.scrollWrapper :hover {
  overflow-y: auto;
  padding-right: 0;
}
.addMessageWrapper {
  display: grid;
  grid-template-columns: 3fr 9fr;
}
.messenger {
    height: 100%;
}
.chats {
    overflow-y: hidden;
}
.messages {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding-right: 17px;
}
.messages :first-child {
  margin-top: auto;
}
.addMessage {
  grid-column-start: 2;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.addMessageButton {
  background-color: transparent;
  border: none;
  outline: none;
  height: 30px;
  overflow: hidden;
}
.addMessageButton :hover {
  cursor: pointer;
}
.addMessageButton img {
  height: 100%;
}
.addMessageTextarea {
  width: 100%;
  border-radius: 5px;
  resize: none;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  border: #777 solid 1px;
  background-color: #333336;
  color: #fff;
}
