.messenger {
    display: grid;
    grid-template-columns: 3fr 9fr;
    height: 80vh;
}
.chats {
    height: 100%;
    overflow-y: auto;
    visibility: hidden;
}

.messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    visibility: hidden;
}

.messagesWrapper,
.chatsWrapper {
  visibility: visible;
}
.messages:hover,
.chats:hover,
.messages:focus,
.chats:focus {
  visibility: visible;
}
