.app-wrapper {
  background-color: #222226;
  display: grid;
  grid-template-areas:
  "header"
  "container";
  grid-template-rows: 60px;
  grid-template-columns: 12fr;
  grid-gap: 10px;
}
.container {
  display: grid;
  grid-area: container;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "nav profile";
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}