.message {
    display: grid;
    grid-template-columns: 1fr 11fr;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 0;
    min-height: 53px;
}
.messageImg {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.messageName {
    font-weight: 500;
    margin-bottom: 5px;
}
